## Q10

In [1]:
import pandas as pd
import pymysql

In [2]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [3]:
cur_1=conn1.cursor()

In [4]:
sql='''SELECT name '이름', IFNULL(phone, '연락처없음') '전화번호' 
FROM Customer;'''

In [5]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [6]:
pd_1=pd.DataFrame(rows_1)
pd_1

     0              1
0  박지성  000-5000-0001
1  김연아  000-6000-0001
2  장미란  000-7000-0001
3  추신수  000-8000-0001
4  박세리          연락처없음