## Q7

In [1]:
import pandas as pd
import pymysql

In [2]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [3]:
cur_1=conn1.cursor()

In [4]:
sql='''SELECT orderid '주문번호', orderdate '주문일', ADDDATE(orderdate, INTERVAL 10 DAY) '확정'
FROM Orders;'''

In [5]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [6]:
pd_1=pd.DataFrame(rows_1)
pd_1

    0           1           2
0   1  2014-07-01  2014-07-11
1   2  2014-07-03  2014-07-13
2   3  2014-07-03  2014-07-13
3   4  2014-07-04  2014-07-14
4   5  2014-07-05  2014-07-15
5   6  2014-07-07  2014-07-17
6   7  2014-07-07  2014-07-17
7   8  2014-07-08  2014-07-18
8   9  2014-07-09  2014-07-19
9  10  2014-07-10  2014-07-20

## Q8

In [7]:
import pandas as pd
import pymysql

In [8]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [9]:
cur_1=conn1.cursor()

In [10]:
sql='''SELECT orderid '주문번호', STR_TO_DATE(orderdate, '%Y-%m-%d') '주문일', custid '고객번호', bookid '도서번호'
FROM Orders
WHERE orderdate=DATE_FORMAT('20140707', '%Y%m%d');'''

In [11]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [12]:
pd_1=pd.DataFrame(rows_1)
pd_1

   0           1  2  3
0  6  2014-07-07  1  2
1  7  2014-07-07  4  8

## Q9

In [13]:
import pandas as pd
import pymysql

In [14]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [15]:
cur_1=conn1.cursor()

In [16]:
sql='''SELECT SYSDATE(),DATE_FORMAT(SYSDATE(), '%Y/%m/%d %M %h:%s') 'SYSDATE_1'; '''

In [17]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [18]:
pd_1=pd.DataFrame(rows_1)
pd_1

                    0                      1
0 2023-07-19 23:56:09  2023/07/19 July 11:09