## Q4

In [1]:
import pandas as pd
import pymysql

In [2]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [3]:
cur_1=conn1.cursor()

In [4]:
sql='''SELECT bookid, REPLACE(bookname, '야구', '농구') bookname, publisher, price
FROM Book;'''

In [5]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [6]:
pd_1=pd.DataFrame(rows_1)
pd_1

     0                  1               2        3
0    1             축구의 역사            굿스포츠   7000.0
1    2            축구아는 여자             나무수  13000.0
2    3             축구의 이해           대한미디어  22000.0
3    4             골프 바이블           대한미디어  35000.0
4    5              피겨 교본            굿스포츠   8000.0
5    6           역도 단계별기술            굿스포츠   6000.0
6    7             농구의 추억           이상미디어  20000.0
7    8            농구를 부탁해           이상미디어  13000.0
8    9            올림픽 이야기             삼성당   7500.0
9   10  Olympic Champions         Pearson  13000.0
10  12             스포츠 의학         Pearson      NaN
11  21           Zen Golf         Pearson  12000.0
12  22      Soccer Skills  Human Kinetics  15000.0

## Q5

In [7]:
import pandas as pd
import pymysql

In [8]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [9]:
cur_1=conn1.cursor()

In [10]:
sql='''SELECT bookname '제목', CHAR_LENGTH(bookname) '문자수', LENGTH(bookname) '바이트수'
FROM Book
WHERE publisher='굿스포츠';'''

In [11]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [12]:
pd_1=pd.DataFrame(rows_1)
pd_1

          0  1   2
0    축구의 역사  6  16
1     피겨 교본  5  13
2  역도 단계별기술  8  22

## Q6

In [13]:
import pandas as pd
import pymysql

In [14]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [15]:
cur_1=conn1.cursor()

In [16]:
sql='''SELECT SUBSTR(name, 1, 1) '성', COUNT(*) '인원'
FROM Customer
GROUP BY SUBSTR(name, 1, 1);'''

In [17]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [18]:
pd_1=pd.DataFrame(rows_1)
pd_1

   0  1
0  박  2
1  김  1
2  장  1
3  추  1