## Q1

In [17]:
import pandas as pd
import pymysql

In [18]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [19]:
cur_1=conn1.cursor()

In [20]:
sql="SELECT ABS(-78), ABS(78);"

In [21]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [22]:
pd_1=pd.DataFrame(rows_1)
pd_1

    0   1
0  78  78

## Q2

In [23]:
import pandas as pd
import pymysql

In [24]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [25]:
cur_1=conn1.cursor()

In [26]:
sql="SELECT ROUND(4.875, 1); "

In [27]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [28]:
pd_1=pd.DataFrame(rows_1)
pd_1

     0
0  4.9

## Q3

In [29]:
import pandas as pd
import pymysql

In [30]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [31]:
cur_1=conn1.cursor()

In [32]:
sql='''SELECT custid '고객번호', ROUND(SUM(saleprice)/COUNT(*), -2) '평균금액' 
FROM Orders 
GROUP BY custid;'''

In [33]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [34]:
pd_1=pd.DataFrame(rows_1)
pd_1

   0      1
0  1  13000
1  2   7500
2  3  10300
3  4  16500