## Q11

In [18]:
import pandas as pd
import pymysql

In [19]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [20]:
cur_1=conn1.cursor()

In [21]:
sql1='SET @seq:=0;'
sql='''SELECT (@seq:=@seq+1) '순번', custid, name, phone
FROM Customer
WHERE @seq < 2;'''

In [22]:
cur_1.execute(sql1)
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [23]:
pd_1=pd.DataFrame(rows_1)
pd_1

   0  1    2              3
0  1  1  박지성  000-5000-0001
1  2  2  김연아  000-6000-0001