## Q43

In [1]:
import pandas as pd
import pymysql

In [2]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [3]:
cur_1=conn1.cursor()

In [4]:
sql="SELECT  * FROM book;"

In [5]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [6]:
pd_1=pd.DataFrame(rows_1)
pd_1

     0                  1        2      3
0    1             축구의 역사     굿스포츠   7000
1    2            축구아는 여자      나무수  13000
2    3             축구의 이해    대한미디어  22000
3    4             골프 바이블    대한미디어  35000
4    5              피겨 교본     굿스포츠   8000
5    6           역도 단계별기술     굿스포츠   6000
6    7             야구의 추억    이상미디어  20000
7    8            야구를 부탁해    이상미디어  13000
8    9            올림픽 이야기      삼성당   7500
9   10  Olympic Champions  Pearson  13000
10  11             스포츠 의학   한솔의학서적  90000

## Q44

In [18]:
import pandas as pd
import pymysql

In [19]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [20]:
cur_1=conn1.cursor()

In [21]:
sql="SELECT  * FROM book;"

In [22]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [23]:
pd_1=pd.DataFrame(rows_1)
pd_1

     0                  1        2        3
0    1             축구의 역사     굿스포츠   7000.0
1    2            축구아는 여자      나무수  13000.0
2    3             축구의 이해    대한미디어  22000.0
3    4             골프 바이블    대한미디어  35000.0
4    5              피겨 교본     굿스포츠   8000.0
5    6           역도 단계별기술     굿스포츠   6000.0
6    7             야구의 추억    이상미디어  20000.0
7    8            야구를 부탁해    이상미디어  13000.0
8    9            올림픽 이야기      삼성당   7500.0
9   10  Olympic Champions  Pearson  13000.0
10  11             스포츠 의학   한솔의학서적  90000.0
11  12             스포츠 의학   한솔의학서적      NaN

## Q45

In [24]:
import pandas as pd
import pymysql

In [25]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [26]:
cur_1=conn1.cursor()

In [27]:
sql='SELECT  * FROM book;'

In [28]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [29]:
pd_1=pd.DataFrame(rows_1)
pd_1

     0                  1               2        3
0    1             축구의 역사            굿스포츠   7000.0
1    2            축구아는 여자             나무수  13000.0
2    3             축구의 이해           대한미디어  22000.0
3    4             골프 바이블           대한미디어  35000.0
4    5              피겨 교본            굿스포츠   8000.0
5    6           역도 단계별기술            굿스포츠   6000.0
6    7             야구의 추억           이상미디어  20000.0
7    8            야구를 부탁해           이상미디어  13000.0
8    9            올림픽 이야기             삼성당   7500.0
9   10  Olympic Champions         Pearson  13000.0
10  11             스포츠 의학          한솔의학서적  90000.0
11  12             스포츠 의학          한솔의학서적      NaN
12  21           Zen Golf         Pearson  12000.0
13  22      Soccer Skills  Human Kinetics  15000.0

## Q46

In [30]:
import pandas as pd
import pymysql

In [31]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [32]:
cur_1=conn1.cursor()

In [33]:
sql='SELECT  * FROM Customer;'

In [34]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [35]:
pd_1=pd.DataFrame(rows_1)
pd_1

   0    1         2              3
0  1  박지성   영국 맨체스타  000-5000-0001
1  2  김연아   대한민국 서울  000-6000-0001
2  3  장미란  대한민국 강원도  000-7000-0001
3  4  추신수  미국 클리블랜드  000-8000-0001
4  5  박세리   대한민국 부산           None

## Q47

In [36]:
import pandas as pd
import pymysql

In [42]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [43]:
cur_1=conn1.cursor()

In [44]:
sql='SELECT  * FROM book;'

In [45]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [46]:
pd_1=pd.DataFrame(rows_1)
pd_1

     0                  1               2        3
0    1             축구의 역사            굿스포츠   7000.0
1    2            축구아는 여자             나무수  13000.0
2    3             축구의 이해           대한미디어  22000.0
3    4             골프 바이블           대한미디어  35000.0
4    5              피겨 교본            굿스포츠   8000.0
5    6           역도 단계별기술            굿스포츠   6000.0
6    7             야구의 추억           이상미디어  20000.0
7    8            야구를 부탁해           이상미디어  13000.0
8    9            올림픽 이야기             삼성당   7500.0
9   10  Olympic Champions         Pearson  13000.0
10  11             스포츠 의학          한솔의학서적  90000.0
11  12             스포츠 의학         Pearson      NaN
12  21           Zen Golf         Pearson  12000.0
13  22      Soccer Skills  Human Kinetics  15000.0

## Q48

In [47]:
import pandas as pd
import pymysql

In [48]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [49]:
cur_1=conn1.cursor()

In [50]:
sql='SELECT  * FROM book;'

In [51]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [52]:
pd_1=pd.DataFrame(rows_1)
pd_1

     0                  1               2        3
0    1             축구의 역사            굿스포츠   7000.0
1    2            축구아는 여자             나무수  13000.0
2    3             축구의 이해           대한미디어  22000.0
3    4             골프 바이블           대한미디어  35000.0
4    5              피겨 교본            굿스포츠   8000.0
5    6           역도 단계별기술            굿스포츠   6000.0
6    7             야구의 추억           이상미디어  20000.0
7    8            야구를 부탁해           이상미디어  13000.0
8    9            올림픽 이야기             삼성당   7500.0
9   10  Olympic Champions         Pearson  13000.0
10  12             스포츠 의학         Pearson      NaN
11  21           Zen Golf         Pearson  12000.0
12  22      Soccer Skills  Human Kinetics  15000.0