## Q14

In [1]:
import pandas as pd
import pymysql

In [2]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [3]:
cur_1=conn1.cursor()

In [4]:
sql="SELECT SUM(saleprice) FROM Orders;"

In [5]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [6]:
pd_1=pd.DataFrame(rows_1)
pd_1

        0
0  118000

### 열 이름

In [7]:
import pandas as pd
import pymysql

In [8]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [9]:
cur_1=conn1.cursor()

In [10]:
sql="SELECT SUM(saleprice) AS 총매출 FROM Orders;"

In [11]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [12]:
pd_1=pd.DataFrame(rows_1)
pd_1

        0
0  118000

## Q15

In [13]:
import pandas as pd
import pymysql

In [14]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [15]:
cur_1=conn1.cursor()

In [16]:
sql="SELECT SUM(saleprice) AS 총매출 FROM Orders WHERE custid=2;"

In [17]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [18]:
pd_1=pd.DataFrame(rows_1)
pd_1

       0
0  15000

## Q16

In [19]:
import pandas as pd
import pymysql

In [20]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [21]:
cur_1=conn1.cursor()

In [22]:
sql='''SELECT SUM(saleprice) AS Total,
AVG(saleprice) AS Average,
MIN(saleprice) AS Minimum,
MAX(saleprice) AS Maximum
FROM Orders;'''

In [23]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [24]:
pd_1=pd.DataFrame(rows_1)
pd_1

        0           1     2      3
0  118000  11800.0000  6000  21000

## Q17

In [25]:
import pandas as pd
import pymysql

In [26]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [27]:
cur_1=conn1.cursor()

In [28]:
sql="SELECT COUNT(*) FROM Orders;"

In [29]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [30]:
pd_1=pd.DataFrame(rows_1)
pd_1

    0
0  10

## Q18

In [31]:
import pandas as pd
import pymysql

In [32]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [33]:
cur_1=conn1.cursor()

In [34]:
sql='''SELECT custid, COUNT(*) AS 도서수량, SUM(saleprice) AS 총액
FROM Orders
GROUP BY custid 
ORDER BY custid; '''

In [35]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [36]:
pd_1=pd.DataFrame(rows_1)
pd_1

   0  1      2
0  1  3  39000
1  2  2  15000
2  3  3  31000
3  4  2  33000

## Q19

In [37]:
import pandas as pd
import pymysql

In [38]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [39]:
cur_1=conn1.cursor()

In [40]:
sql='''SELECT custid, COUNT(*) AS 도서수량
FROM Orders
WHERE saleprice >= 8000
GROUP BY custid
HAVING count(*) > 1
ORDER BY custid;'''

In [41]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [42]:
pd_1=pd.DataFrame(rows_1)
pd_1

   0  1
0  1  2
1  3  2
2  4  2