#### book DBMS

In [6]:
import pandas as pd
import pymysql

In [7]:
conn1=pymysql.connect(host='127.0.0.1',user='root',password='1234',db='madang',charset='utf8')

In [8]:
cur_1=conn1.cursor()

In [9]:
sql="SELECT * FROM BOOK;"

In [10]:
cur_1.execute(sql)
rows_1=cur_1.fetchall()
conn1.close()

In [11]:
pd_1=pd.DataFrame(rows_1)
pd_1

    0                  1        2      3
0   1             축구의 역사     굿스포츠   7000
1   2            축구아는 여자      나무수  13000
2   3             축구의 이해    대한미디어  22000
3   4             골프 바이블    대한미디어  35000
4   5              피겨 교본     굿스포츠   8000
5   6           역도 단계별기술     굿스포츠   6000
6   7             야구의 추억    이상미디어  20000
7   8            야구를 부탁해    이상미디어  13000
8   9            올림픽 이야기      삼성당   7500
9  10  Olympic Champions  Pearson  13000